*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
    width: 100vw;
} */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 0 2rem;
}

nav ul{
    display: flex;
    
}

li{
    list-style: none;
    

}

ul li a{
    color: #808080;
    text-decoration: none;
    text-transform: lowercase;
    margin-right: 1.2rem;
    transition: text-decoration 3s;
    
}

li a #ativo{
    color: #333333;
    font-weight: bold;
}

ul li:last-child a{
    margin-right: 0;
}


ul li a:hover{
    text-decoration: underline;
}

/* section banner */

.banner_imagem{
    width: 100%;
}

.banner_titulo{
    font-family: Pacifico, cursive;

    color: #f9f9f9;
    font-size: 5.07rem;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0,0,0, 1);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

.banner{
    position: relative;
    width: 100%;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.sobreTitulo{
    font-family: Pacifico, cursive;
    color: #8D0606;
    font-size: 3.18rem;
    margin-top: 2rem;
}

.sobreDescricao{
    margin-top: 2rem;font-size: 1.2rem;color: #808080;
}

/* receitas area */

.receitas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3rem auto 0 auto;
    justify-content: center;
    
    /* largura */
    width: 90vw;
    gap: 3rem;
   
}

.backReceitas{
    background: #e5e5e5;
}

.cards_receitas{
    max-width: 286px;
    max-height: 384px;
    background: #fff;
    margin-top: 2rem;
}